<div class="maingrid">
  <!-- header row -->
  {% for colname in colnames %}
  <div style="grid-column: {{ 2 + loop.index }}" class="tile headertile {{'hcolumn' if colname=='H' else ''}}">
    {{colname}}
  </div>
  {% endfor %}
  <div style="width: 25px; height: 25px">
    <img
      src="static/elements.png"
      height="50px"
      style="margin-left: -25px; margin-right: -70px; margin-bottom: 170px; margin-top: -20px"
    />
    <img
      src="static/devices.png"
      width="50px"
      style="margin-left: -25px; margin-right: -75px; margin-bottom: -10px; margin-top: 20px"
    />
  </div>
  {% for rowname in rownames %} {% set y = loop.index %}
  <!-- Score rows-->
  <div style="grid-column: 1" class="tile headertile">5</div>
  <div class="tile headertile"><img src="static/{{rowgifts[y-1]}}.png" /></div>
  {% for colname in colnames %}
  <div class="tile scoretile tile-{{colors[grid[loop.index, y]]}} {{'hcolumn' if colname=='H' else ''}}">
    <div>
      {% set s = symbols.get((loop.index,y), "&nbsp;") %} {% if s == '🎁' %}<img src="static/toob.png" />{% else %} {%
      if s == '☆' %}<img src="static/star.png" />{% else %} {{s}}{% endif %}{% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="headertile tile">{{rowname}}</div>
  {% endfor %}
  <div style="grid-column: 2 2; grid-row: span 5" class="hearts">
    <img
      src="static/stapeltjes.png"
      style="width: 60px; left: 5px; margin-top: -15px; position: absolute; z-index: -1"
    />
    <img style="padding-top: 10px" src="static/heart.png" /> <br />
    <img src="static/heart.png" /> <br />
    <img src="static/heart.png" /> <br />
    <img src="static/heart.png" /> <br />
    <img src="static/heart.png" />
  </div>
  {% for colname in colnames %}
  <div style="grid-column: {{2+loop.index}}" class="tile headertile">{{colpoints[loop.index-1]}}</div>
  {% endfor %} {% for colname in colnames %}
  <div style="grid-column: {{2+loop.index}}" class="tile headertile">{{colpoint2[loop.index-1]}}</div>
  {% endfor %}{% for colname in colnames %}
  <div style="grid-column: {{2+loop.index}}" class="tile headertile heart">
    <img class="scoreheart" src="static/heart.png" />
  </div>
  {% endfor %}
  <div class="wildcardrow">
    <img height="50px" style="margin-top: -10px; margin-left: -10px; margin-right: -15px" src="static/nudges.png" />
    {% for i in range(6) %}
    <div>!</div>
    {% endfor %}
  </div>
  <div class="boxrow">
    {% for i in range(9) %}
    <img class="rowheart" src="static/toob.png" />
    {% endfor %}

    <img
      height="50px"
      style="margin-top: -10px; margin-left: -10px; margin-right: -15px"
      src="static/toobstrategie.png"
    />
  </div>
</div>
