<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/keer.css" />
  </head>
  <body>
    <div class="container">
      <div class="maingrid">
        <div class="row gridheader">
          <div class="notile"><span class="seed">{{seed}}</span></div>
          <div class="notile"></div>
          {% for colname in colnames %}
          <div class="tile headertile {{'hcolumn' if colname=='H' else ''}}">{{colname}}</div>

          {% endfor %}
          <div class="notile"></div>
        </div>
        <!-- row gridheader-->
        {% for rowname in rownames %} {% set y = loop.index %}
        <div class="row gridrow">
          <div class="headertile tile">5</div>
          <div class="headertile tile">{{rowgifts[y-1]}}</div>
          {% for colname in colnames %}
          <div class="tile tile-{{colors[grid[loop.index, y]]}} {{'hcolumn' if colname=='H' else ''}}">
            <div>{{symbols.get((loop.index,y), "&nbsp;")}}</div>
          </div>
          {% endfor %}
          <div class="headertile tile">{{rowname}}</div>
        </div>
        {% endfor %}

        <div class="row gridheader">
          <div class="notile">
            <div class="hearts">
              ❤️ <br />
              ❤️ <br />
              ❤️ <br />
              ❤️ <br />
              ❤️
            </div>
          </div>
          <div class="notile"></div>
          {% for colname in colnames %}
          <div class="tile headertile">{{colpoints[loop.index-1]}}</div>
          {% endfor %}
          <div class="notile"></div>
        </div>
        <div class="row gridheader">
          <div class="notile"></div>
          <div class="notile"></div>
          {% for colname in colnames %}
          <div class="tile headertile">{{colpoint2[loop.index-1]}}</div>
          {% endfor %}
          <div class="notile"></div>
        </div>
        <div class="row gridheader">
          <div class="notile"></div>
          <div class="notile"></div>
          {% for colname in colnames %}
          <div class="tile headertile heart"><span class="symbol">❤️</span></div>
          {% endfor %}
          <div class="notile"></div>
        </div>
        <div class="wildcardrow">
          {% for i in range(6) %}
          <div>!</div>
          {% endfor %}
        </div>
        <div class="boxrow">
          {% for i in range(9) %}
          <div><span class="box">🎁</span></div>
          {% endfor %}
        </div>
      </div>
      <div class="rightcolumn">
        {%for color in colors %}
        <div class="rcrow">
          <div class="notile"></div>
          <div class="notile"></div>
          <div class="tile tile-{{color}}">
            <div>5</div>
          </div>
          <div class="tile tile-{{color}}">
            <div>3</div>
          </div>
        </div>
        {%endfor %} {% for score in scores %}
        <div class="scorerow {{'scoretoprow' if loop.index == 1 else ''}}">
          <div class="scoreheader">{{score}}</div>
          <div class="scorevalue">&nbsp</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
