@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: lightgrey !important;
  }
}

/* Main structure */
.container {
  width: 700px;
  display: grid;
  grid-template-columns: [main] 1fr [sidebar] 175px;
}

body {
  background-color: lightgrey;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif;
}

.seed {
  position: absolute;
  text-align: left;
  font-size: small;
  margin-left: -10px;
  text-decoration: none;
  color: white;
}

/* Score sidebar*/

.rightcolumn {
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 32px 32px;
}
.rightcolumn > * {
  height: 25px;
  white-space: nowrap;
}
.scoretoprow {
  margin-top: 6px;
}
.scorerow {
  height: 30px;
}
.scoreheader {
  width: 100px;
  text-align: right;
  line-height: 30px;
}
.scorevalue {
  grid-column: span 2;
  background-color: white;
  width: 64px;
  margin-left: 6px;
  margin-bottom: 2px;
  border-radius: 10px;
}

/* Top header */

.plaatjes {
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
  color: white;
  width: 100%;
}
.plaatjes > img {
  width: 50%;
  margin: -25px;
}
.plaatjes .header {
  margin-left: -100px;
}

/* Main playing grid */
.maingrid {
  width: 540px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.headertile {
  background-color: white !important;
  color: black;
  border-width: 0px !important;
}
.headertile.hcolumn {
  color: red;
}

.headertile {
  color: black;
  line-height: 25px !important;
}
.scoretile {
  color: white;
  border: 2px solid black;
}

.notile {
  border-width: 0px !important;
  margin: 0px;
}

.tile.hcolumn {
  border-color: white !important;
}

.tile {
  margin: 0.5px;
  border-radius: 5px;
  padding: 1px;
  line-height: 21px;
}
.tile > div {
  border-radius: 5px;
}
.tile-red {
  background-color: hsl(0, 70%, 60%);
}
.tile-red > div {
  background-color: hsl(0, 70%, 70%);
}
.tile-green {
  background-color: hsl(110, 50%, 50%);
}
.tile-green > div {
  background-color: hsl(110, 50%, 60%);
}
.tile-yellow {
  background-color: hsl(50, 70%, 60%);
}
.tile-yellow > div {
  background-color: hsl(50, 70%, 70%);
}
.tile-blue {
  background-color: hsl(220, 70%, 60%);
}
.tile-blue > div {
  background-color: hsl(220, 70%, 70%);
}
.tile-orange {
  background-color: hsl(30, 80%, 50%);
}
.tile-orange > div {
  background-color: hsl(30, 80%, 60%);
}

/* Symbols etc */
@font-face {
  font-family: "OpenMoji";
  src: URL("static/OpenMoji-Color.SVG.ttf") format("truetype");
}
.hearts img {
  width: 30px;
}
.tile img {
  vertical-align: middle;
  width: 18px;
}
.scoreheader img {
  vertical-align: middle;
  width: 18px;
}
.rowheart:first-of-type {
  border: 2px solid black;
  border-radius: 50%;
  margin-left: -3px;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-right: 4px;
  padding: 3px;
}

.rowheart {
  vertical-align: middle;
  width: 25px;
  margin-right: 10px;
}
.scoreheart {
  vertical-align: middle;
  width: 25px;
  filter: grayscale(50%);
  filter: opacity(25%);
}
.symbol {
  font-family: "OpenMoji";
  filter: grayscale(50%);
  filter: opacity(25%);
}
.hearts {
  font-size: x-large;
  line-height: 30px;
  margin-left: 10px;
  margin-right: -12px;
  margin-top: 6px;
}
.boxrow {
  grid-column: 3 / span 16;
  height: 30px;
  padding: 0px;
  margin: 0px;
  color: black;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.boxrow > div {
  width: 25px;
  height: 25px;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: bolder;
  font-size: large;
}
.boxrow > div:first-child {
  border: 1.5px solid black;
  border-radius: 50%;
}
.wildcardrow {
  grid-column: 3 / span 16;
  background-color: white;
  width: 260px;
  height: 30px;
  color: black;
  border-radius: 5px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wildcardrow > div {
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: bolder;
  font-size: x-large;
}
